
/*  container of AlarmClock*/
.container{
    position:absolute;
    height:100vh;
    width:100vw;
    left:500px;

}

/*  Current Clock Time CSS  */
#clock-time{
   
    height:200px;
    width:350px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color:#525355 ;
 
    
}
/*  Clock Time Header */
#clock-time h1{
    position:relative;
    font-weight: normal;
    left:100px;
    top:20px;
    color:aliceblue;
}

/*  Container Of Hour Minute Second */
#square-container{
    position:absolute;
    height: 50px;
    width: 250px;
    left:60px;
    top:120px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    

}

#square{
    height:40px;
    width:40px;
    background-color: aliceblue;
}
/*  Hour */
#square #hour{
    position: absolute;
    border: 1px solid black;
    height: inherit;
    width: inherit;
    background-color: antiquewhite;
    top: -22px;
    left: 21px;
    color:black;
}

/*  Min */
#square #min{
    position: absolute;
    border: 1px solid black;
    height: inherit;
    width: inherit;
    background-color: antiquewhite;
    top: -22px;
    left: 104px;
    color:black;
}

/*  Sec */
#square #sec{
    position: absolute;
    border: 1px solid black;
    height: inherit;
    width: inherit;
    background-color: antiquewhite;
    top: -22px;
    left: 186px;
    color:black;
}

/*  Using Flex to Show containers of Hour min and Second  in Row  */
#hour-min-sec{
    width:250px;
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    left: -40px;
    top:50px;
}



/*  Set alarm Div */
#set-alarm{
    position:relative;
    text-align: center;
    height:200px;
    width:350px;
    background-image:linear-gradient(45deg, #585858, transparent);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top:-20px;
    
}
/*  Using Flex to Show containers of Hour min and Second  in Row  */
#flexing{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

/*  Set Button */
#tset{
    width: 21%;
    top: 106px;
    position: absolute;
    left: 80px;
    border-radius: 16%;
    height: 17%;
    border-style: inset;

}

/*  Reset Button */
#treset{
    width: 21%;
    top: 106px;
    position: absolute;
    left: 199px;
    border-radius: 16%;
    height: 17%;
    border-style: inset;
    background-color: #f522228f;
    color: aliceblue;

}

/*  Div Of Created Alarm*/
#set-alarm-container{
    width: 344px;
    top: 428px;
    position: absolute;
    left: 0px;
    border-radius: 16%;
    height: 17%;
    border-style: inset;
    background-color: #f522228f;
    color: aliceblue;
    overflow-x:scroll;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}




